:root {
    --tst-game-title-color: white;
    --tst-game-title-text-shadows: none;
    --tst-game-title-filter: none;
}

/* Game Title */
.BasicUI ._3gwMkKp82bb5aZj4EeQnpi ._3CRLA2FFclTRCznNBgtiIH {
    color: var(--tst-game-title-color);
    text-shadow: var(--tst-game-title-text-shadows);
    filter: var(--tst-game-title-filter);
}

/* Playtime - Icon */
._12eKcQAZM2bwKDDQhiBCPr ._25QboeMYEk12Wt3i35P_EG {
    color: var(--tst-game-title-color);
    text-shadow: var(--tst-game-title-text-shadows);
    filter: var(--tst-game-title-filter);
    overflow: visible
}

/* Playtime - Text */
._1BtXgm_u14cFdsGMjTpY59 {
    color: var(--tst-game-title-color);
    text-shadow: var(--tst-game-title-text-shadows);
    filter: var(--tst-game-title-filter);
}

/* Shadows Overflow */
.ZkD6We6MqGbOsa9K3yiY3 ._3CKjiR7-fuBPyKZKpPI6UZ,
.BasicUI ._3gwMkKp82bb5aZj4EeQnpi,
.BasicUI ._3gwMkKp82bb5aZj4EeQnpi ._3CRLA2FFclTRCznNBgtiIH,
._12eKcQAZM2bwKDDQhiBCPr ._25QboeMYEk12Wt3i35P_EG,
._1BtXgm_u14cFdsGMjTpY59 {
    overflow: visible
}
