:root {
    --tst-header-background: var(--tst-steam-default-background-color);
    --tst-header-filter: none;
    --tst-header-backdrop-filter: none;
}

/* Header */

._1E_SL1bTibeQ3PQRBZoS_-::before {
    backdrop-filter: var(--tst-header-backdrop-filter);
    background: transparent;
    opacity: 0;
    filter: var(--tst-header-filter);
}

._1E_SL1bTibeQ3PQRBZoS_- {
    backdrop-filter: var(--tst-header-backdrop-filter);
    background: var(--tst-header-background);
    opacity: 1;
    filter: var(--tst-header-filter);
}

._1E_SL1bTibeQ3PQRBZoS_-._3x-XEqWonUA-lbEznRNgk2 {
    backdrop-filter: var(--tst-header-backdrop-filter);
    background: var(--tst-header-background);
    filter: var(--tst-header-filter);
}


/* Header In-game */
._3k5MHjpKaOv6C29MKPgd6x {
    background: var(--tst-header-background);
}
