/* Buttons Border */
[class*="_1S76C3gQf4oOTbLdTMVH0m"] {
    border-radius: var(--round-radius-size);
    overflow: hidden;
}

/* Buttons Borders */
[class*="_1S76C3gQf4oOTbLdTMVH0m"] {
    margin: 3px;
    height: fit-content;
}

/* Fix Cropped QAM */
[class*="_2orc8-PBheKd3BvuGXV6ZL"] {
    transform: translateX(500px);
}

/* Header In-game */
._3k5MHjpKaOv6C29MKPgd6x {
    margin-left: 54px !important;
    max-width: 300px !important;
}
