@font-face {
    font-family: SST;
    src: url("/themes_custom/Machine Ready/font-face/SST.ttf");
}

* {
    font-family: SST !important;
}

/* CSS Loader Title Fix */
._34nl5vUoFCDYYnmHNL7axB>div {
    font-size: 0.9em;
}
