:root {
    --mr-dc-focus-transform-strength-lower: 0.4;
    --mr-dc-transform-origin-direction-lower: bottom;
    --mr-dc-focus-transform-strength: var(--mr-dc-focus-transform-strength-lower);
    --mr-dc-transform-origin-direction: var(--mr-dc-transform-origin-direction-lower);
}
