/* Current/Recent Game Text */
    ._35iRep_MLGWeAmkLbeny7R {
        bottom: 0px;
    }

/* Carousel Container */
    ._282X0J4BtrSF1IXctmOe-X ._3MdH5Czolhh5rC_nofUlcQ {
        top: 0px;
        transform: scale(var(--mr-carousel-scaling));
        transform-origin: left top;
    }

/* Title Position */
    .ZkD6We6MqGbOsa9K3yiY3 ._3CKjiR7-fuBPyKZKpPI6UZ {
        top: var(--mr-game-title-final-position);
    }
