:root {
    --tst-main-blur: blur(100px);
    --tst-main-shadow: drop-shadow(0 4px 6px rgba(0, 0, 0, .8));
    --tst-main-stroke:
        drop-shadow(1px 0 0 rgba(0, 0, 0, .85))
        drop-shadow(-0.5px 0 0 rgba(0, 0, 0, .85))
        drop-shadow(0 1px 0 rgba(0, 0, 0, .85))
        drop-shadow(0 -0.5px 0 rgba(0, 0, 0, .85));
    --tst-glass-background: rgba(0, 0, 0, var(--tst-glass-opacity));
    --tst-steam-default-background-color: #0e141b;
}

/* In-Game Panel - Background - Both Panels */
.sfthxkhui6WSgvnbllI_n {
    background: transparent;
}

/* In-Game Panel - Borders */
._12NNtyso3nbzJGi2XxHzcN {
    border-left: none;
    border-right: none;
    border-width: 0px;
}

/* Hide Elements */
.GamepadMode.friendlist, ._1osHa9KHOmdCDNrA232z4N.GamepadMode, .GamepadMode ._1osHa9KHOmdCDNrA232z4N, .multiChatDialog.GamepadMode.gpfocuswithin, .GamepadMode .multiChatDialog.gpfocuswithin, ._1E_SL1bTibeQ3PQRBZoS_-._2mRo586DqtPuSdxT1VRirS, .multiChatDialog.GamepadMode, .GamepadMode .multiChatDialog {
    background: transparent !important;
}

.SteamDeckChats.gpfocuswithin ._2XZq-_f6npaQdAgeRzKIkz, .GamepadMode.friendlist.gpfocuswithin .FriendsListSteamDeckTopSection {
    box-shadow: none !important;
}

._12NNtyso3nbzJGi2XxHzcN:before {
    background: transparent !important;
}

/* Bottom Border */
[class*=_3kHmfV9Pej6JhVOBMGhcgq] {
    box-shadow: none !important;
}

/* Fix QAM Scrolling */
._2BB6uf--jFaAmdnwLOqMU7 {
    padding-top: 0px;
    padding-bottom: 0px
}

/* Fix Footer Heigh */
._3T1iFy2maYycwqgFuzERyf {
    max-height: 40px;
}
