:root {
    --tst-context-menu-background: var(--tst-steam-default-background-color);
}

/* Title Box */
._2pq9my4HQChCImf0dPb9Kd {
    backdrop-filter: var(--tst-main-blur);
    background: rgb(0, 0, 0, .2);
    display: inline-block;
    width: max-content;
    margin-left: auto;
    margin-right: auto;
    padding-top: 5.5px;
    padding-bottom: 5px;
    padding-left: 7.5px;
    padding-right: 7.5px;
    overflow: visible !important;
}

/* Action Button */
._34o03-8cUc3fQX1u650c0L.Stream, ._34o03-8cUc3fQX1u650c0L.Connect, ._34o03-8cUc3fQX1u650c0L.Launch, ._34o03-8cUc3fQX1u650c0L.PlayMusic, ._34o03-8cUc3fQX1u650c0L.Play, ._34o03-8cUc3fQX1u650c0L.Resume, ._34o03-8cUc3fQX1u650c0L.BorrowApp, ._34o03-8cUc3fQX1u650c0L.Download, ._34o03-8cUc3fQX1u650c0L.Update, ._34o03-8cUc3fQX1u650c0L.PreLoad, ._34o03-8cUc3fQX1u650c0L.Install, ._34o03-8cUc3fQX1u650c0L.Pause, ._34o03-8cUc3fQX1u650c0L.Stop, ._34o03-8cUc3fQX1u650c0L.Cancel {
    background: var(--tst-context-menu-background);
}

/* Normal Buttons */
._34o03-8cUc3fQX1u650c0L {
    background: var(--tst-context-menu-background);
}

/* Remove Menu Shadow */
.oZw50c4oJ6-r0HP8UWv25 {
    filter: none;
}

/* Custom Selection */
._34o03-8cUc3fQX1u650c0L._3fVa8M_7D9Vjz28uYnahhd {
    background: black;
}

._34o03-8cUc3fQX1u650c0L._3fVa8M_7D9Vjz28uYnahhd:focus,
._34o03-8cUc3fQX1u650c0L._3fVa8M_7D9Vjz28uYnahhd:hover {
    background: white !important;
}
