:root {
    --tst-main-menu-background-color: var(--tst-steam-default-background-color);
}

/* Main Menu */
._23IDiI-F_FxXotrgpY71r8 {
    background-color: var(--tst-main-menu-background-color);
}

/* Bottom Border */
[class*=_3kHmfV9Pej6JhVOBMGhcgq] {
    box-shadow: none !important;
}
