[class*="V0cr-SAnDhzAWmPZdrJQJ"] {
    background: transparent;
}

[class*="_2BB6uf--jFaAmdnwLOqMU7"] {
    background: #0e141b;
}

[class*="_1S76C3gQf4oOTbLdTMVH0m"] {
    color: white !important;
    height: fit-content;
}

[class*="_1S76C3gQf4oOTbLdTMVH0m"]:focus {
    color: black !important;
}

[class*="_1S76C3gQf4oOTbLdTMVH0m"][class*="quickaccessmenu_Selected_2QHMu"][class*="gpfocus"] {
    background: white !important;
    color: black !important;
}

[class*="_1S76C3gQf4oOTbLdTMVH0m"][class*="quickaccessmenu_Selected_2QHMu"] {
    background: white !important;
    color: black !important;
}

[class*="_1S76C3gQf4oOTbLdTMVH0m"][class*="gpfocus"] {
    background: white !important;
    color: black !important;
}

[class*="_1S76C3gQf4oOTbLdTMVH0m"] {
    transition: none;
}

[class*="_1S76C3gQf4oOTbLdTMVH0m"][class*="quickaccessmenu_Selected_2QHMu"],
[class*="_1S76C3gQf4oOTbLdTMVH0m"][class*="gpfocus"] {
    filter: drop-shadow(0 4px 6px rgba(0, 0, 0, 0)) !important;
}
