/* Global - Idle */
.BasicUI .WYgDg9NyCcMIVuMyZ_NBC {
    opacity: var(--tc-capsules-opacity);
    transition: all 0.2s ease-in-out;
}

/* Global - - Hover e Focus */
.BasicUI .WYgDg9NyCcMIVuMyZ_NBC.Focusable:focus,
.BasicUI .WYgDg9NyCcMIVuMyZ_NBC:hover {
    opacity: 1;
}
