/* Carousel - Idle */
.BasicUI .WYgDg9NyCcMIVuMyZ_NBC {
    opacity: var(--ct-carousel-opacity);
    transition: opacity 0.2s ease-in-out;
}

/* Carousel - Focused */
.BasicUI .WYgDg9NyCcMIVuMyZ_NBC.gpfocuswithin {
    opacity: 1 !important;
}

/* Carousel - Hover */
.BasicUI .WYgDg9NyCcMIVuMyZ_NBC:hover {
    opacity: 1 !important;
}
