/* Carousel - Idle */
.WYgDg9NyCcMIVuMyZ_NBC.biTV-8rS2M65imVHU15Nv, .WYgDg9NyCcMIVuMyZ_NBC.L3xTnr5TfAJU1EhvCDaWm, .WYgDg9NyCcMIVuMyZ_NBC._3ngZCi2zy0hiqzGzTdNg8 {
    opacity: var(--tc-capsules-opacity);
    transition: opacity 0.2s ease-in-out;
}

/* Global Focus/Hover */
.BasicUI .WYgDg9NyCcMIVuMyZ_NBC.Focusable:focus,
.BasicUI .WYgDg9NyCcMIVuMyZ_NBC:hover {
    opacity: 1;
}
