.sfthxkhui6WSgvnbllI_n {
    border-top-left-radius: var(--round-radius-size);
    border-bottom-left-radius: var(--round-radius-size);
    overflow: hidden;
}

._12NNtyso3nbzJGi2XxHzcN {
    border-top-left-radius: var(--round-radius-size);
    border-bottom-left-radius: var(--round-radius-size);
    overflow: hidden;
}

