:root {
    --tst-gameview-logo-opacity: 1;
    --tst-gameview-logo-filter: none;
}

._2Eh7Soh97QONu_grMi2m66 {
    opacity: var(--tst-gameview-logo-opacity);
    filter: var(--tst-gameview-logo-filter);
}
