[class*="_2ADpTpv53dcY1uFpMWO1KT"] {
    text-shadow: var(--tt-text-dropshadows) !important;
}

[class*="_12eKcQAZM2bwKDDQhiBCPr"] [class*="_25QboeMYEk12Wt3i35P_EG"] {
    filter: var(--tt-main-dropshadows) !important;
}

[class*="BasicUI"] [class*="_3gwMkKp82bb5aZj4EeQnpi"] [class*="_3DR9f2B3JQKviESgdrHp1u"] {
    text-shadow: var(--tt-text-dropshadows) !important;
}

[class*="_1BtXgm_u14cFdsGMjTpY59"] {
    color: white;
}

.ZkD6We6MqGbOsa9K3yiY3 ._3CKjiR7-fuBPyKZKpPI6UZ {
    overflow: visible !important;
}

.BasicUI ._3gwMkKp82bb5aZj4EeQnpi {
    overflow: visible !important;
}

._3gwMkKp82bb5aZj4EeQnpi {
    overflow: visible !important;
}

.BasicUI ._3gwMkKp82bb5aZj4EeQnpi ._3CRLA2FFclTRCznNBgtiIH {
    overflow: visible !important;
}

._3gwMkKp82bb5aZj4EeQnpi._3CRLA2FFclTRCznNBgtiIH {
    overflow: visible !important;
}

._26RbFDzzMplRhf211ujl5A {
    overflow: visible !important;
}

._2ADpTpv53dcY1uFpMWO1KT {
    overflow: visible !important;
}

.BasicUI ._3gwMkKp82bb5aZj4EeQnpi ._3DR9f2B3JQKviESgdrHp1u {
    overflow: visible !important;
}

._3gwMkKp82bb5aZj4EeQnpi._3DR9f2B3JQKviESgdrHp1u {
    overflow: visible !important;
}

._1BtXgm_u14cFdsGMjTpY59 {
    overflow: visible !important;
}

._12eKcQAZM2bwKDDQhiBCPr ._25QboeMYEk12Wt3i35P_EG {
    overflow: visible !important;
}

._25QboeMYEk12Wt3i35P_EG {
    overflow: visible !important;
}
