[class*="_2ADpTpv53dcY1uFpMWO1KT"] {
    filter: var(--tt-main-stroke) !important;
    text-shadow: none;
}

[class*="BasicUI"] [class*="_3gwMkKp82bb5aZj4EeQnpi"] [class*="_3DR9f2B3JQKviESgdrHp1u"] {
    filter: var(--tt-main-stroke) !important;
    text-shadow: none;
}

[class*="_1BtXgm_u14cFdsGMjTpY59"] {
    color: white;
}
