/* Current/Recent Game Text */
._35iRep_MLGWeAmkLbeny7R {
    left: 0px;
    bottom: 0px;
    transform: scale(var(--mr-dc-carousel-scaling));
    transform-origin: left bottom;
}

/* Title Position */
.ZkD6We6MqGbOsa9K3yiY3 ._3CKjiR7-fuBPyKZKpPI6UZ {
    bottom: var(--mr-dc-game-title-final-position);
}

/* Carousel Container */
._282X0J4BtrSF1IXctmOe-X ._3MdH5Czolhh5rC_nofUlcQ {
    bottom: 50%;
    transform: translateY(50%) scale(var(--mr-dc-carousel-scaling));
    transform-origin: left center;
}
