[class*="ZjHHXZlnZhCahNrBFplWc"] {
    background: transparent;
}

[class*="_33vqr13-jdnjTkKKTh414f"] {
    background: transparent;
}

._3LYP1SIxyoky-yW9Ug_1fq.b084mAvY8rgVMr3H04g9g {
    background: transparent;
}
