:root {
    --dc-carousel-idle-transform-strength: translateZ(var(--dc-carousel-idle-var));
    --dc-carousel-focus-transform-strength: translateZ(var(--dc-carousel-focus-var));
}

/* Carousel - Idle */
.WYgDg9NyCcMIVuMyZ_NBC.biTV-8rS2M65imVHU15Nv, .WYgDg9NyCcMIVuMyZ_NBC.L3xTnr5TfAJU1EhvCDaWm, .WYgDg9NyCcMIVuMyZ_NBC._3ngZCi2zy0hiqzGzTdNg8 {
    transform: var(--dc-carousel-idle-transform-strength);
    transition: all 0.2s ease-in-out;
}

/* Carousel - Hover e Focus */
.WYgDg9NyCcMIVuMyZ_NBC.biTV-8rS2M65imVHU15Nv:hover,
.WYgDg9NyCcMIVuMyZ_NBC.biTV-8rS2M65imVHU15Nv:focus,
.WYgDg9NyCcMIVuMyZ_NBC.L3xTnr5TfAJU1EhvCDaWm:hover,
.WYgDg9NyCcMIVuMyZ_NBC.L3xTnr5TfAJU1EhvCDaWm:focus,
.WYgDg9NyCcMIVuMyZ_NBC._3ngZCi2zy0hiqzGzTdNg8:hover,
.WYgDg9NyCcMIVuMyZ_NBC._3ngZCi2zy0hiqzGzTdNg8:focus {
    transform: var(--dc-carousel-idle-transform-strength);
}

