:root {

    /* Magnify Calculation */
        --mr-dynamic-carousel-idle-magnify: translateZ(calc(-1 * var(--mr-dynamic-carousel-strength)));
        --mr-dynamic-carousel-focus-magnify: translateZ(calc(0.8 * var(--mr-dynamic-carousel-strength)));

    /* Magnify Application */
        --mr-dynamic-carousel-idle-transform: var(--mr-dynamic-carousel-idle-magnify);
        --mr-dynamic-carousel-focus-transform: var(--mr-dynamic-carousel-focus-magnify);

}

