:root {

    /* Upwards Calculation */
        --mr-dynamic-carousel-idle-upwards: translateZ(calc(var(--mr-dynamic-carousel-strength) / -2)) translateY(calc(var(--mr-dynamic-carousel-strength) / 5));
        --mr-dynamic-carousel-focus-upwards: translateZ(calc(var(--mr-dynamic-carousel-strength) / 2)) translateY(calc(var(--mr-dynamic-carousel-strength) / -5));

    /* Upwards Application */
        --mr-dynamic-carousel-idle-transform: var(--mr-dynamic-carousel-idle-upwards);
        --mr-dynamic-carousel-focus-transform: var(--mr-dynamic-carousel-focus-upwards);

}
