/* Fix Cropped QAM */
._2orc8-PBheKd3BvuGXV6ZL {
    transform: translateX(500px);
}

/* Header In-game */
._3k5MHjpKaOv6C29MKPgd6x {
    margin-left: 54px !important;
    max-width: 300px !important;
}
