[class*="_33vqr13-jdnjTkKKTh414f"] {
    height: calc(100vh - 80px);
    padding-top: 40px;
    padding-bottom: 40px;
}

[class*="_1d6VIquCc410kNE7rDAje6"] {
    padding-bottom: 0px;
}

[class*="gNwozyl1BAcDyyhUKvx1Y"] {
    padding: 0px;
}

[class*="DialogContent"][class*="_3mgb-3_dHk3POEOVOh0Dvp"] {
    padding-top: 15px;
}
