[class*="ZjHHXZlnZhCahNrBFplWc"] {
    border-radius: var(--round-radius-size);
    overflow: hidden;
}

[class*="eKmEXJCm_lgme24Fp_HWt"]:not([class*="_2QgNsvFPYTZ5yRiTm7mUyu"])[class*="xIITXDcM70faUNqssgUyx"],
[class*="eKmEXJCm_lgme24Fp_HWt"]:not([class*="_2QgNsvFPYTZ5yRiTm7mUyu"])[class*="_3hgIZByMuZIEiFspMRGFBw"] {
    border-radius: var(--round-radius-size);
    overflow: hidden;
}

[class*="_1ml4SNc3LIyBDHIf8ekVSw"] {
    border-radius: var(--round-radius-size);
    overflow: hidden;
}

[class*="_2DoZZSAfKoPnLVbPf7Mfwb"] [class*="_2CzDTL8RFIe2eFykDXr3z8"] {
    border-radius: var(--round-radius-size);
    overflow: hidden;
}

[class*="_3Vl2zkYPoCpw1q_1n28D3z"] {
    border-radius: var(--round-radius-size);
    overflow: hidden;
}

[class*="_2LyGIHuQ8SFKb5T262YUvg"] {
    border-radius: var(--round-radius-size);
    overflow: hidden;
}

[class*="_7EGqd8bdiXJBd2fj5Hh8r"] {
    border-radius: var(--round-radius-size);
    overflow: hidden;
}

[class*="BasicUI"] [class*="_2n6FNLKyb6al_YPk13xS7S"] [class*="_2RCSUgg2X_uF_C0e1lrcqc"]:focus {
    border-radius: var(--round-radius-size);
    overflow: hidden;
}

[class*="BasicUI"] [class*="_2n6FNLKyb6al_YPk13xS7S"] [class*="_2RCSUgg2X_uF_C0e1lrcqc"]:hover {
    border-radius: var(--round-radius-size);
    overflow: hidden;
}
