:root {
    --mr-dc-carousel-offset-width-left: calc(var(--mr-dc-st-first-capsule-container-width) - 10px);
    --mr-dc-carousel-offset-padding-left: calc(100% - var(--mr-dc-carousel-offset-width-left));
    --mr-dc-carousel-offset-width: var(--mr-dc-carousel-offset-width-left);
    --mr-dc-carousel-offset-padding: var(--mr-dc-carousel-offset-padding-left);
}
