.QNkOtW3xS-yj6LviWHvnd {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--hhr-bg-color) !important;
}

.QNkOtW3xS-yj6LviWHvnd > * {
    display: none !important;
}
