[class*="DefaultTheme"] [class*="_2KhPXikozxMpbIRo_6jPxW"],
[class*="DefaultTheme"] [class*="virtualkeyboard_KeyboardExtendedRow_21EW_"] [class*="virtualkeyboard_KeyboardExtendedKey_394j7"] {
    border-radius: var(--round-radius-size);
    overflow: hidden;
}


[class*="DefaultTheme"] [class*="virtualkeyboard_Touched_3UFQq"] {
    z-index: 999;
}

/* Fix Cropped Icon */
._3VtXfHDGV1q2LCVruVnHed {
    height: 20px;
    transform: translateY(50%);
    bottom: 50%;;
}

